<html>
    <body bgcolor="lavender">
        <center>
        <h1>-Login Here-</h1>
        <hr size="3" color="yellow">
        <form action="/validation" method="post">
            <table bgcolor="#FFF0D4" border="2" width="30%" height="40%">
            <tr><td>UserName</td><td><input type="text" name="name" required></td></tr>
            <tr><td>Password</td><td><input type="text" name="pass" required></td></tr>
            <tr><td><center><input type=submit name=submit></center></td><td><center><input type="reset" name=cancel></center></td></tr>  
            <tr><td style="border:none;padding-left:10rem;"><a href='/new'>register here</a></td></tr>
        </table>
      
        </form>
       
      
      
    </center>
    </body>
</html>