<html>
    <body bgcolor="lavender">
        <center>
        <h1>Register Here</h1>
        <hr size="3" color="yellow">
        <form action="/register" method="post">
            <table bgcolor="#FFF0D4" border="2" width="30%" height="40%">
            <tr><td>UserName</td><td><input type="text" name="name" required></td></tr>
            <tr><td>Password</td><td><input type="text" name="pass" required></td></tr>
            <tr><td>Age</td><td><input type="text" name="age" required></td></tr>
            <tr>
                <td><center><h4> <label for="Gender" name="abc">Choose a System Information:</label></h4></center></td>
                <td>
                    <center>
                        <select name="select_gender">
                            <option value="Male">Male</option>
                            <option value="Female">Female</option>
            <tr><td><center><input type=submit name=submit></center></td><td><center><input type="reset" name=cancel></center></td></tr>
            </table>
        </form>
    </center>
    </body>
</html>





    





        
        
