<html>
    <body bgcolor="lavender">
        <center>
            <h1>Your output for the {{result[1]}} information</h1>
            <hr size-2 color="green"
            <table bgcolor="yellow" border="2" width="50%" height="25%">
                <tr>
                    <th bgcolor="red">Information</th>
                    <th  bgcolor="red">Value</th>
                </tr>
                <tr>
                    <td><center>{{ result[1] }}</center> </td>
                    <td><center> {{ result[0] }}</center> </td>
                </tr>
        </center>
    </body>
</html>